{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container">
    <p class="lead" _msttexthash="481456833" _msthash="18">Наша продукция:</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">🕯️ Ароматические и декоративные свечи – ручной работы из
        натурального воска, с тонкими нотками ароматов и изысканным дизайном.</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">🎨 Гипсовые изделия – интерьерные статуэтки, подсвечники,
        рельефные панно и элементы декора, выполненные с любовью к деталям.</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">✨ Эксклюзивные наборы – идеальные подарки для близких и
        стильные акценты для вашего пространства.</p>

    <p class="lead" _msttexthash="481456833" _msthash="18">Почему выбирают нас?</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">✔️ Качество материалов – используем только безопасные и
        долговечные компоненты.</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">✔️ Индивидуальный подход – создаем изделия по вашим эскизам и
        пожеланиям.</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">✔️ Экологичность – наши свечи горят ровно и чисто, а гипс
        поддается вторичной обработке.</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">✔️ Творческий процесс – каждое изделие сделано вручную с
        душой.</p>

    <p class="lead" _msttexthash="481456833" _msthash="18">Наши услуги:</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">- Мастер-классы – научим создавать свечи и гипсовый декор
        своими руками!</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">- Корпоративные подарки – оригинальная продукция с логотипом
        вашей компании.</p>
    <p class="lead" _msttexthash="481456833" _msthash="18">- Сотрудничество – открыты к партнерству с дизайнерами и
        магазинами.</p>

    <p class="lead" _msttexthash="481456833" _msthash="18">🔹 Заказывайте, дарите, творите вместе с нами! 🔹</p>

</div>
{% endblock %}