<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"><a href="/"
                                                                                             class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Hot feelings</span> </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">Про нас</a></li>
        <li class="nav-item"><a href="/post" class="nav-link">Статьи</a></li>
        <li class="nav-item"><a href="/create-article" class="btn btn-warning">Создать</a></li>

    </ul>
</header>

{% block body %}
{% endblock %}

<footer class="container py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">Про нас</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2025 Company, Inc</p></footer>
</body>
</html>