{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="container row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6"><img src="static/img.png" class="d-block mx-lg-auto img-fluid"
                                               alt="Темы Bootstrap" width="700" height="500" loading="lazy"
                                               _mstalt="287586" _msthash="16">
    </div>
    <div class="col-lg-6"><h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" _msttexthash="25438881"
                              _msthash="17">Добро пожаловать в нашу творческую мастерскую!
    </h1>
        <p class="lead" _msttexthash="481456833" _msthash="18">Здесь рождаются уют и красота — в мерцании свечей и
            изяществе гипсовых изделий. Наша мастерская — это место, где можно воплотить свои идеи в жизнь, научиться
            новому и создать неповторимые предметы интерьера своими руками.

        <p class="lead" _msttexthash="481456833" _msthash="18">🔹 Декоративные свечи – от элегантных классических форм до
            ароматных композиций с натуральными восками и
            эфирными маслами.</p>
        <p class="lead" _msttexthash="481456833" _msthash="18">🔹 Гипсовые изделия – изящные статуэтки, интерьерные панно
            и элементы декора, которые добавят вашему дому
            индивидуальности.</p>

        <p class="lead" _msttexthash="481456833" _msthash="18">Приходите за вдохновением, уютными мастер-классами и
            приятным общением! Давайте творить вместе! ✨</p>

        <p class="lead" _msttexthash="481456833" _msthash="18">Мастерская "Горячие чувства"</p>
        </p>
    </div>
</div>
{% endblock %}